<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>学习材料下载</title>
    <!-- 可以添加样式文件链接 -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    {% extends 'base.html' %}

    {% block title %}学习材料下载{% endblock %}

    {% block content %}
        <div class="container">
            <h1>学习资料下载</h1>
            <ul>
                <li>初中数学 同步习题+精品试卷（7 - 9年级）10套 <a href="https://pan.quark.cn/s/11968a6f2c66">https://pan.quark.cn/s/11968a6f2c66</a></li>
                <li>初中全科《历年中考真题》2013 - 2024 <a href="https://pan.quark.cn/s/3c7b6044ea05">https://pan.quark.cn/s/3c7b6044ea05</a></li>
                <li>初中全科《中考试卷汇编》2025春 <a href="https://pan.quark.cn/s/ea8f0e3f8a11">https://pan.quark.cn/s/ea8f0e3f8a11</a></li>
                <li>初中全科《全国中考试题精选》2025春 <a href="https://pan.quark.cn/s/9c4fdac6ef3b">https://pan.quark.cn/s/9c4fdac6ef3b</a></li>
                <li>初中全科《寒假作业》2025春 <a href="https://pan.quark.cn/s/6076dfa8eff0">https://pan.quark.cn/s/6076dfa8eff0</a></li>
                <li>初中全科《课堂全解》2025春 <a href="https://pan.quark.cn/s/ed686041ee0b">https://pan.quark.cn/s/ed686041ee0b</a></li>
                <li>初中全科《课后习题答案》2025春 <a href="https://pan.quark.cn/s/44af6f733046">https://pan.quark.cn/s/44af6f733046</a></li>
                <li>初中各科《精品导学案》2025春 <a href="https://pan.quark.cn/s/431c830937e4">https://pan.quark.cn/s/431c830937e4</a></li>
                <li>初中全科《优化设计同步习题》2025春 <a href="https://pan.quark.cn/s/864db5775103">https://pan.quark.cn/s/864db5775103</a></li>
                <li>初中全科《初中必刷题》2025春 <a href="https://pan.quark.cn/s/34c0976fd03c">https://pan.quark.cn/s/34c0976fd03c</a></li>
                <li>初中全科《初中上分卷》2025春 <a href="https://pan.quark.cn/s/b1e7369e5f2a">https://pan.quark.cn/s/b1e7369e5f2a</a></li>
                <li>初中各科《一飞冲天课时作业》2025春 <a href="https://pan.quark.cn/s/2e7283fa4596">https://pan.quark.cn/s/2e7283fa4596</a></li>
                <li>初中各科《一战成名》2025春 <a href="https://pan.quark.cn/s/f61014f7cf53">https://pan.quark.cn/s/f61014f7cf53</a></li>
                <li>初中各科《一品中考提升卷》2025春 <a href="https://pan.quark.cn/s/a0770674b626">https://pan.quark.cn/s/a0770674b626</a></li>
                <li>初中各科《中考预测卷》2025春 <a href="https://pan.quark.cn/s/69945cf2471a">https://pan.quark.cn/s/69945cf2471a</a></li>
                <li>初中各科《中考第一次模拟卷》2025春 <a href="https://pan.quark.cn/s/33572ba2d8b7">https://pan.quark.cn/s/33572ba2d8b7</a></li>
                <li>初中各科《中考真题精编》打包下载 <a href="https://pan.quark.cn/s/a5fca6fe62b7">https://pan.quark.cn/s/a5fca6fe62b7</a></li>
                <li>初中全科《期中综合测试卷》打包下载 <a href="https://pan.quark.cn/s/4ebfa0029c9b">https://pan.quark.cn/s/4ebfa0029c9b</a></li>
                <li>初中全科《期末综合测试卷》打包下载 <a href="https://pan.quark.cn/s/ac73cac36ff1">https://pan.quark.cn/s/ac73cac36ff1</a></li>
                <li>初中全科《课堂作业》打包下载 <a href="https://pan.quark.cn/s/69e36b8cd445">https://pan.quark.cn/s/69e36b8cd445</a></li>
                <li>初中全科《同步精练》打包下载 <a href="https://pan.quark.cn/s/95e3c6124e25">https://pan.quark.cn/s/95e3c6124e25</a></li>
                <li>初中全科《中华题王卷》打包下载 <a href="https://pan.quark.cn/s/229c17cce378">https://pan.quark.cn/s/229c17cce378</a></li>
                <li>初中数理化《竞赛考前辅导》打包下载 <a href="https://pan.quark.cn/s/233904db9c13">https://pan.quark.cn/s/233904db9c13</a></li>
                <li>初中数理化《培优题典》打包下载 <a href="https://pan.quark.cn/s/22c930f9572c">https://pan.quark.cn/s/22c930f9572c</a></li>
                <li>初中全科《七彩课堂》打包下载 <a href="https://pan.quark.cn/s/a39af3a3a5e2">https://pan.quark.cn/s/a39af3a3a5e2</a></li>
                <li>初中全科《七彩培优》打包下载 <a href="https://pan.quark.cn/s/2ca10614c380">https://pan.quark.cn/s/2ca10614c380</a></li>
                <li>初中全科《同步试题资源包》打包下载 <a href="https://pan.quark.cn/s/341441570a75">https://pan.quark.cn/s/341441570a75</a></li>
                <li>初中各科《义务教育高质量 基础性作业》 <a href="https://pan.quark.cn/s/72b95bc5fc02">https://pan.quark.cn/s/72b95bc5fc02</a></li>
                <li>初中各科《实验班提优训练》2024秋 <a href="https://pan.quark.cn/s/8aab0dc72971">https://pan.quark.cn/s/8aab0dc72971</a></li>
                <li>初中全科《课后练习+任务单》2024秋 <a href="https://pan.quark.cn/s/c87b02bbfa1d">https://pan.quark.cn/s/c87b02bbfa1d</a></li>
                <li>初中全科《期中期末模拟卷》2024秋 <a href="https://pan.quark.cn/s/83ad14ba4055">https://pan.quark.cn/s/83ad14ba4055</a></li>
                <li>初中全科《通关宝典》打包下载 <a href="https://pan.quark.cn/s/1d13c24ff859">https://pan.quark.cn/s/1d13c24ff859</a></li>
                <li>初中全科《暑假作业+升学衔接》打包下载 <a href="https://pan.quark.cn/s/1d8a3623a78f">https://pan.quark.cn/s/1d8a3623a78f</a></li>
                <li>初中全科《预习作业+补充习题》打包下载 <a href="https://pan.quark.cn/s/c426933d7525">https://pan.quark.cn/s/c426933d7525</a></li>
                <li>初中全科《黄冈全优卷》打包下载 <a href="https://pan.quark.cn/s/23c7aecfc72e">https://pan.quark.cn/s/23c7aecfc72e</a></li>
                <li>初中全科《黄冈名师卷》打包下载 <a href="https://pan.quark.cn/s/458d7b62d27e">https://pan.quark.cn/s/458d7b62d27e</a></li>
                <li>初中全科《畅响双优卷》打包下载 <a href="https://pan.quark.cn/s/5521b3a949c5">https://pan.quark.cn/s/5521b3a949c5</a></li>
                <li>初中全科《提优好卷》打包下载 <a href="https://pan.quark.cn/s/35d387d51023">https://pan.quark.cn/s/35d387d51023</a></li>
                <li>初中全科《一线调研卷》打包下载 <a href="https://pan.quark.cn/s/4e5d80c451b5">https://pan.quark.cn/s/4e5d80c451b5</a></li>
                <li>初中全科《一遍过教师用书》打包下载 <a href="https://pan.quark.cn/s/f32d8bb8d40e">https://pan.quark.cn/s/f32d8bb8d40e</a></li>
                <li>初中全科《七天学练考》打包下载 <a href="https://pan.quark.cn/s/42e6b111f6a5">https://pan.quark.cn/s/42e6b111f6a5</a></li>
                <li>初中全科《金状元周周练》打包下载 <a href="https://pan.quark.cn/s/c6ce3f895fc1">https://pan.quark.cn/s/c6ce3f895fc1</a></li>
                <li>初中全科《堂堂清8分钟小测》打包下载 <a href="https://pan.quark.cn/s/332de8c699ca">https://pan.quark.cn/s/332de8c699ca</a></li>
                <li>初中全科《360℃训练法》打包下载 <a href="https://pan.quark.cn/s/6f449a50352d">https://pan.quark.cn/s/6f449a50352d</a></li>
                <li>初中全科《基础知识记背册》打包下载 <a href="https://pan.quark.cn/s/3d358107f56b">https://pan.quark.cn/s/3d358107f56b</a></li>
                <li>初中各科《周周清检测卷》打包下载 <a href="https://pan.quark.cn/s/bb23eac3a4aa">https://pan.quark.cn/s/bb23eac3a4aa</a></li>
                <li>初中各科《学霸必刷题》打包下载 <a href="https://pan.quark.cn/s/57de1b30f52f">https://pan.quark.cn/s/57de1b30f52f</a></li>
                <li>初中各科《活页1+1》打包下载 <a href="https://pan.quark.cn/s/64e50cae03ce">https://pan.quark.cn/s/64e50cae03ce</a></li>
                <li>初中各科《课堂内外》打包下载 <a href="https://pan.quark.cn/s/2b3828bfb365">https://pan.quark.cn/s/2b3828bfb365</a></li>
                <li>初中各科《课堂点睛》打包下载 <a href="https://pan.quark.cn/s/81eb439caa9b">https://pan.quark.cn/s/81eb439caa9b</a></li>
                <li>初中各科《状元大课堂》打包下载 <a href="https://pan.quark.cn/s/88302eaf2022">https://pan.quark.cn/s/88302eaf2022</a></li>
                <li>初中各科《优品单元与期末》打包下载 <a href="https://pan.quark.cn/s/daf4363aecdd">https://pan.quark.cn/s/daf4363aecdd</a></li>
                <li>初中各科《锦上添花期末大赢家》打包下载 <a href="https://pan.quark.cn/s/d44fb1a255ff">https://pan.quark.cn/s/d44fb1a255ff</a></li>
                <li>初中各科《火线计划》打包下载 <a href="https://pan.quark.cn/s/8907271ac4de">https://pan.quark.cn/s/8907271ac4de</a></li>
                <li>初中各科《名师金典》打包下载 <a href="https://pan.quark.cn/s/ed9455c3c687">https://pan.quark.cn/s/ed9455c3c687</a></li>
                <li>初中各科《轻巧夺冠·课堂直播》打包下载 <a href="https://pan.quark.cn/s/7fbfb031990c">https://pan.quark.cn/s/7fbfb031990c</a></li>
                <li>初中各科《拉分题专项集训》打包下载 <a href="https://pan.quark.cn/s/0da709aaec1f">https://pan.quark.cn/s/0da709aaec1f</a></li>
                <li>初中各科《课堂知识手册》打包下载 <a href="https://pan.quark.cn/s/51016f74d38b">https://pan.quark.cn/s/51016f74d38b</a></li>
                <li>初中全科《加分宝》打包下载 <a href="https://pan.quark.cn/s/924aadfb1064">https://pan.quark.cn/s/924aadfb1064</a></li>
                <li>初中全科《星选手记》打包下载 <a href="https://pan.quark.cn/s/b8b6925b1b5b">https://pan.quark.cn/s/b8b6925b1b5b</a></li>
                <li>初中全科《睡前5分钟考点暗记》打包下载 <a href="https://pan.quark.cn/s/32e32c4c0f90">https://pan.quark.cn/s/32e32c4c0f90</a></li>
                <li>初中全科《宝典训练》打包下载 <a href="https://pan.quark.cn/s/cd83b5de8ecd">https://pan.quark.cn/s/cd83b5de8ecd</a></li>
                <li>初中全科《名师练加考》打包下载 <a href="https://pan.quark.cn/s/e8955ae1181f">https://pan.quark.cn/s/e8955ae1181f</a></li>
                <li>初中各科《新CES学习法》打包下载 <a href="https://pan.quark.cn/s/c23d45d32a3d">https://pan.quark.cn/s/c23d45d32a3d</a></li>
                <li>初中各科《思维新观察》打包下载 <a href="https://pan.quark.cn/s/2d63f51326f0">https://pan.quark.cn/s/2d63f51326f0</a></li>
                <li>初中各科《直击期末》打包下载 <a href="https://pan.quark.cn/s/de2e3ca23281">https://pan.quark.cn/s/de2e3ca23281</a></li>
                <li>初中各科《期末两手抓》打包下载 <a href="https://pan.quark.cn/s/d45634e1b267">https://pan.quark.cn/s/d45634e1b267</a></li>
                <li>初中各科《首席期末卷》打包下载 <a href="https://pan.quark.cn/s/77614de67bab">https://pan.quark.cn/s/77614de67bab</a></li>
                <li>初中全科《十年中考真题》打包下载 <a href="https://pan.quark.cn/s/6a95aa4c60dd">https://pan.quark.cn/s/6a95aa4c60dd</a></li>
                <li>初中全科《2024中考真题》打包下载 <a href="https://pan.quark.cn/s/72b78490d397">https://pan.quark.cn/s/72b78490d397</a></li>
                <li>初中全科《一飞冲天中考专项》打包下载 <a href="https://pan.quark.cn/s/771683df5471">https://pan.quark.cn/s/771683df5471</a></li>
                <li>初中全科《中考复习讲义练习》打包下载 <a href="https://pan.quark.cn/s/45bfaeef7909">https://pan.quark.cn/s/45bfaeef7909</a></li>
                <li>初中全科《中考专题知识要点》打包下载 <a href="https://pan.quark.cn/s/ffc25fe884ef">https://pan.quark.cn/s/ffc25fe884ef</a></li>
                <li>初中全科《学霸中考复习》打包下载 <a href="https://pan.quark.cn/s/91c0b5cf7fd2">https://pan.quark.cn/s/91c0b5cf7fd2</a></li>
                <li>初中全科《点拨中考》打包下载 <a href="https://pan.quark.cn/s/f330c4c51e20">https://pan.quark.cn/s/f330c4c51e20</a></li>
                <li>初中全科《中考热搜题》打包下载 <a href="https://pan.quark.cn/s/7d7dd9b28948">https://pan.quark.cn/s/7d7dd9b28948</a></li>
                <li>初中全科《考前必刷卷》打包下载 <a href="https://pan.quark.cn/s/b6046cb55582">https://pan.quark.cn/s/b6046cb55582</a></li>
                <li>初中各科《赢在中考》打包下载 <a href="https://pan.quark.cn/s/9bc73faf2097">https://pan.quark.cn/s/9bc73faf2097</a></li>
                <li>初中各科《中考真题分类练》打包下载 <a href="https://pan.quark.cn/s/2519a1016b6a">https://pan.quark.cn/s/2519a1016b6a</a></li>
                <li>初中各科《突破中考易错题》打包下载 <a href="https://pan.quark.cn/s/0c20f7dfb1e1">https://pan.quark.cn/s/0c20f7dfb1e1</a></li>
                <li>初中各科《中考专题分类汇编》打包下载 <a href="https://pan.quark.cn/s/0ee1797c07ec">https://pan.quark.cn/s/0ee1797c07ec</a></li>
                <li>初中各科《实验班中考总复习》打包下载 <a href="https://pan.quark.cn/s/7246f2efbd1e">https://pan.quark.cn/s/7246f2efbd1e</a></li>
            </ul>
        </div>
    {% endblock %}
    <footer>
        <p>&copy; 2025 初中数学函数自学网站. 保留所有权利。</p>
    </footer>
</body>
</html>